@model IEnumerable<NextwoIdentity2023.Models.ViewModel.Category>

@{
    ViewData["Title"] = "All Categorys";
}

<h1>All Categorys</h1>

<p>
    <a asp-action="CreateCategory" asp-controller="Category" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="EditCategory" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a> |
                    <a asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
